a {
    font-size: 15px;
    transition: color 0.3s; /* Suaviza la transición del color */
    color: inherit; /* Hereda el color de texto inicial del padre o especifica un color predeterminado aquí */
}

a:hover {
    transform: scale(1.1);
    color: rgb(43, 79, 197); /* Cambia el color a blanco al pasar el mouse */
}

.navbar {
    backdrop-filter: none !important;
  }
