a {
    font-size: 25px;
    transition: color 0.3s; /* Suaviza la transición del color */
    color: inherit; /* Hereda el color de texto inicial del padre o especifica un color predeterminado aquí */
}

a:hover {
    color: white; /* Cambia el color a blanco al pasar el mouse */
}
